
{% extends 'base.html.twig' %}

{% block title %}sponsor index{% endblock %}

{% block body %}
     <section class="club-wrap club-champ">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h4>Les sponsors</h4>

                </div>
            </div>
            </div>
            </section>
                <div class="champ-tab-wrap tab-content">
                <div class="tab-item part-wrap tab-pane active" id="participants">
    <div class="part-list">
        <div class="container">
            <div class="row">
           {% for sponsor in sponsors %}

            <!--CHAMPIONSHIP PART WRAP BEGIN -->

                <div class="col-md-3">
                    <a href="{{ path('app_sponsor_show', {'id': sponsor.id}) }}" class="item">
                        <span class="logo"><img src="{{asset('sponsorImages/'~sponsor.logoSponsor)}}" width="80" height="80" alt="team-logo"></span>
                        <span class="name">{{sponsor.nomSponsor}}</span>
                        
                    </a>
                </div>
               
            

 {% endfor %}
            </div>
        </div>
    </div>
</div>
 
{% endblock %}