{% extends 'back.html.twig' %}

{% block title %}Modifier Equipe{% endblock %}

{% block body %}
    <h1>Modifier Equipe</h1>

    {{ include('equipeback/_form2.html.twig') }}

    

    
{% endblock %}
