{% extends 'back.html.twig' %}

{% block title %}Edit Equipe{% endblock %}

{% block body %}
    <h1>Edit Equipe</h1>

    {{ include('equipeback/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_equipeback_index') }}">back to list</a>

    {{ include('equipeback/_delete_form.html.twig') }}
{% endblock %}
