{% extends 'back.html.twig' %}

{% block title %}Modifier Equipe{% endblock %}

{% block body %}
    <h1>Modifier Equipe</h1>

    {{ include('equipeback/_form.html.twig', {'button_label': 'modifier'}) }}

    <a href="{{ path('app_equipeback_index') }}">Retour à la liste</a>

    
{% endblock %}
