{% extends 'back.html.twig' %}

{% block title %}Equipe index{% endblock %}

{% block body %}


   

    <div class="main-panel">
         
        <div>

             <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> STATISTIQUES EQUIPES </h3>
              <nav aria-label="breadcrumb">

              </nav>
            </div>

 <div>
  <canvas id="barChart" style="height:230px"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

  const ctx = document.getElementById('barChart');
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{nbJoueursCounts|keys|json_encode|raw}},
      datasets: [{
        label: 'Nombre de joueurs',
        data: {{nbJoueursCounts|raw}},
          backgroundColor: [
          'rgba(255, 99, 132, 0.2)', // Couleur pour nbJoueurs=1
          'rgba(54, 162, 235, 0.2)', // Couleur pour nbJoueurs=2
          'rgba(255, 206, 86, 0.2)', // Couleur pour nbJoueurs=3
          'rgba(75, 192, 192, 0.2)', // Couleur pour nbJoueurs=4
          'rgba(153, 102, 255, 0.2)', // Couleur pour nbJoueurs=5
          'rgba(255, 159, 64, 0.2)' // Couleur pour nbJoueurs=6
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)', // Couleur de bordure pour nbJoueurs=1
          'rgba(54, 162, 235, 1)', // Couleur de bordure pour nbJoueurs=2
          'rgba(255, 206, 86, 1)', // Couleur de bordure pour nbJoueurs=3
          'rgba(75, 192, 192, 1)', // Couleur de bordure pour nbJoueurs=4
          'rgba(153, 102, 255, 1)', // Couleur de bordure pour nbJoueurs=5
          'rgba(255, 159, 64, 1)' // Couleur de bordure pour nbJoueurs=6
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
 </div>
                </div>
              </div>
             
          
            
            
          </div>
    
        </div>
             
              
            
{% endblock %}
