{% extends 'back.html.twig' %}

{% block title %}New CategorieProduit{% endblock %}

{% block body %}
    <center><h1>Nouvelle Categorie</h1></center>

    {{ include('categorie_produit/_form.html.twig') }}

    <a href="{{ path('app_categorie_showCategorieProduit') }}">back to list</a>
{% endblock %}
