{% extends 'back.html.twig' %}

{% block title %}Edit Sponsor{% endblock %}

{% block body %}
    <h1>Edit Sponsor</h1>

    {{ include('sponsorback/_form.html.twig', {'button_label': 'modifier'}) }}

   

   
{% endblock %}
